@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #e4dede;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    -webkit-app-region: drag;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1A1A1A;
}

.nav ul{
    margin: 0;
    padding: 10px 10px;
}

.nav ul li{
    display: inline;
    padding: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav .nav-left{
    display: inline;
}

.nav .nav-right{
    display: inline;
    position: absolute;
    right: 0;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 150px 0;
}



.progress{
    width: 100%;
    text-align: center;
    background-color: #191970;
    color: #e4dede;
    padding: 50px 0;
}

.progress p{
    padding-top: 5px;
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
}

.header img{
    width: 100px;
}

.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    justify-content: space-around;
}

.test-container{
    background-color: white;
    display: flex;
    width: calc(100% - 100px);
    padding: 20px 50px;
    flex-flow: column;
    justify-content: center;
}

.test-container .field{align-self: center;}
.test-container .key{color: green; font-weight: bold;}

.container1, .container2{
    display: flex;
    flex-flow: column;
}

.container-title{
    text-align: center;
}

.field{
    background-color: white;
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgb(145, 144, 144);
    border-radius: 5px;
    width: 300px;
}

.field p{
    margin: 0;
}

.key{
    color: black;
    opacity: 0.7;
    font-size: 14px;
}

.value{
    color: black;
    font-size: 18px;
}

.footer{
    background-color: #1A1A1A;
    position: fixed;
    padding: 20px 0 0 0; 
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer button{
    /* width: 40%; */
    width: 300px;
    padding: 10px 0;
    background-color: #1A1A1A;
    color: #e4dede;
    letter-spacing: 2px;
    margin-bottom: 20px;
}